*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  padding: 0 30px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
  width: 1140px;
}

.content__details {
  width: 100%;
  height: 100%;
}


.content__list-container {
  position: relative;
  height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 3px;
  padding-right: 3px;
}

.content__video-card {
  width: 390px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}

.content__card-link_current {
  background-color: rgb(255 255 255 / 10%);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: rgb(255 255 255 / 10%);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  display: block;
  max-width: 100%;
  font-family: Oswald;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  width: 196px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  overflow: hidden;
  flex-shrink: 0;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  display: block;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 8px;
}

.search-form__label:hover>.search-form__label-text {
  text-decoration: underline;
}

.search-form__label:hover:not(:has(.search-form__textfield)) {
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield {
  border: none;
  appearance: none;
  border-top: 1px solid rgb(255 255 255 / 0.7);
  border-bottom: 1px solid rgb(255 255 255 / 0.7);
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 100%;
  min-width: 225px;
  color: #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:active .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__submit-button {
  padding: 6px 73.5px;
}

.button {
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  height: 34px;
  width: 100%;
  align-self: flex-end;
  cursor: pointer;
  padding: 1px;
}

.more-button {
  padding: 0 8px;
  flex-shrink: 0;
}

.button:active {
  background-color: rgb(255 255 255 / 10%);
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 2px;
}